<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button
        ion-item
        icon-left
        (click)="onLoad(rootPage)"
        *ngIf="!this.auth.authenticated">
        <ion-icon name="log-in"></ion-icon>
        Sign In</button>
      <button
        ion-item
        icon-left
        (click)="onLoad(signUpPage)"
        *ngIf="!this.auth.authenticated">
        <ion-icon name="person"
        ></ion-icon>
        Sign Up</button>
      <button
        ion-item
        icon-left
        (click)="onLoad(homePage)"
        *ngIf="this.auth.authenticated">
        <ion-icon name="home"
        ></ion-icon>
        Home</button>
      <button
        ion-item
        icon-left
        (click)="onSignOut()"
        *ngIf="this.auth.authenticated">
        <ion-icon name="log-out"
        ></ion-icon>
        Sign Out</button>

    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #nav></ion-nav>
